.btn {
  border: none;
  border-radius: 0;
  display: block;
  width:100%;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
  background: none !important;
  -webkit-box-shadow:0 0 0 50px black inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #fff;
}
/* form starting stylings ------------------------------- */
input, textarea, select {
  margin-top: 30px;
  resize: none;
}
h1 input, h1 textarea, h1 select {
  margin-top: 0;
}
input[type=text], input[type=date], input[type=password], textarea, select {
  font-size: 14px;
  display:block;
  background: rgba(0,0,0,.9);
  padding:10px 10px 10px 5px;
  width:100%;
  height: 46px;
  border:none;
  border-bottom:1px solid rgba(255, 255, 255, .1);

}
textarea {
  height: 106px;
}
input:focus, textarea:focus, select:focus {
  color:#fff;
  outline: none;
}

/* LABEL ======================================= */


label  {
  color: rgba(255, 255, 255, .5);
  font-weight: normal;
  height: 20px;
  margin-top: 10px;
}
input[type=text] ~ label, input[type=date] ~ label, input[type=password] ~ label, select ~ label  {
  margin-top: -76px;
  position: absolute;
}
textarea ~ label  {
  margin-top: -136px;
  position: absolute;
}
input[type=text]:focus ~ label, input[type=date]:focus ~ label, input[type=password]:focus ~ label, select:focus ~ label,
input[type=checkbox]:checked ~ label, input[type=radio][checked] ~ label {
  color: white;
}
input[type=checkbox] {
  vertical-align: text-bottom;
}

/* BOTTOM BARS ================================= */
.bar {
  position:relative;
  display:block;
  width:100%;
  margin-bottom: 10px;
}
.bar:before, .bar:after 	{
  content:'';
  height:1px;
  width:0;
  bottom:1px;
  position:absolute;
  background:white;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after,
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after,
select:focus ~ .bar:before, select:focus ~ .bar:after {
  width:50%;
}

/* ng invalid */
input.ng-invalid, textarea.ng-invalid, select.ng-invalid {
  border-bottom:1px solid #632f2d;

}
input.ng-invalid ~ .bar:before, input.ng-invalid ~ .bar:after,
textarea.ng-invalid ~ .bar:before, textarea.ng-invalid ~ .bar:after,
select.ng-invalid ~ .bar:before, select.ng-invalid ~ .bar:after {
  background: #d9534f !important;
}

/* ng valid */
input[required]:not(.ng-invalid), textarea[required]:not(.ng-invalid), select[required]:not(.ng-invalid) {
  border-bottom:1px solid #026301;

}
input[required]:not(.ng-invalid) ~ .bar:before, input[required]:not(.ng-invalid) ~ .bar:after,
textarea[required]:not(.ng-invalid) ~ .bar:before, textarea[required]:not(.ng-invalid) ~ .bar:after,
select[required]:not(.ng-invalid) ~ .bar:before, select[required]:not(.ng-invalid) ~ .bar:after {
  background: #029901 !important;
}