.gameBoxContainer {
  font-size: 0;
  background: #151515;
}

.gameBox {
  font-size: 14px;
  background: #111;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transform: translateY(1vw);
  transition: opacity 1s, transform 1s;
}

.gameBox.visible_anim {
  opacity: 1;
  transform: translateY(0);
}

.gameBox .hovicon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

#gameCover {
  margin: 0 auto;
  max-width: 100%;
  margin-top: -100px;
}

.gameCover {
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: grayscale(0%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: height 1s, opacity 1s, filter 1s;
}

.gameTitle {
  font-size: 1.2em;
  min-height:40%;
  transition: min-height 1s, opacity 1s, margin 1s;
  opacity:0;
  overflow: hidden;
  text-align: center;
}

.gameBox:hover, .gameBox[ng-reflect-is-focused='true'] {
  .gameCover {
    height: 40%;
    opacity: 0.1;
    filter: grayscale(100%);
  }

  .gameTitle {
    margin-top: -40%;
    min-height: 40%;
    opacity: 1;
    height: auto;
  }
}

.gameInfos {
  font-size: smaller;
  padding: 10px;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width : 600px) {
  .gameBox {
    width: calc(100% / 2);
    height: calc(100vw / 2);
  }
}
@media only screen and (min-width : 601px) and (max-width : 800px) {
  .gameBox {
    width: calc(100% / 4);
    height: calc(100vw / 4);
  }
}
@media only screen and (min-width : 801px) and (max-width : 1000px) {
  .gameBox {
    width: calc(100% / 4);
    height: calc(100vw / 4);
  }
}
@media only screen and (min-width : 1001px) and (max-width : 1200px) {
  .gameBox {
    width: calc(100% / 6);
    height: calc(100vw / 6);
  }
}
@media only screen and (min-width : 1201px) and (max-width : 1400px) {
  .gameBox {
    width: calc(100% / 6);
    height: calc(100vw / 6);
  }
}
@media only screen and (min-width : 1401px) and (max-width : 1600px) {
  .gameBox {
    width: calc(100% / 8);
    height: calc(100vw / 8);
  }
}
@media only screen and (min-width : 1601px) and (max-width : 1800px) {
  .gameBox {
    width: calc(100% / 8);
    height: calc(100vw / 8);
  }
}
@media only screen and (min-width : 1801px) and (max-width : 2000px) {
  .gameBox {
    width: calc(100% / 10);
    height: calc(100vw / 10);
  }
}
@media only screen and (min-width : 2001px) {
  .gameBox {
    width: calc(100% / 10);
    height: calc(100vw / 10);
  }
}