.gameBanner {
  width: 100%;
  display: block;
  height: calc(25vh - 70px);
  position: relative;
  overflow: hidden;
}

.gameBanner .gameBannerBg {
  width: 100%;
  display: block;
  height: 25vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  //transition: height 1s, opacity 1s, filter 1s;
}

.gameBanner.gameBannerBig {
  height: 50vh;
}

.gameBanner.gameBannerBig .gameBannerBg {
  height: 50vh;
}

.gameBannerMessage {
  position:absolute;
  top: 160px;
  width: 100vw;
  text-align:  center;
  font-size: 30px;
  padding: 15px;
  background: rgba(0,0,0,.3);
}