.gameBanner {
  width: 100%;
  display: block;
  height: calc(25vh - 70px);
}

.gameBanner .gameBannerBg {
  width: 100%;
  display: block;
  height: 25vh;
  margin-top: -70px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  //transition: height 1s, opacity 1s, filter 1s;
}

.gameBanner.gameBannerBig {
  height: calc(50vh - 70px);
}

.modal-body .gameBanner .gameBannerBg {
  margin-top: 0;
}

.gameBanner.gameBannerBig .gameBannerBg {
  height: 50vh;
}