$hovicon-size: 50px;

.hovicon {
  float: left;
  display: inline-block;
  //font-size: 0px;
  line-height: $hovicon-size;
  cursor: pointer;
  margin: 10px 5px;
  width: $hovicon-size;
  height: $hovicon-size;
  text-align: center;
  //z-index: 1;
  color: #fff;
  border-radius: 50%;
}

//.hovicon:before {
//  speak: none;
//  font-size: 26px;
//  line-height: $hovicon-size;
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  text-transform: none;
//  display: block;
//  -webkit-font-smoothing: antialiased;
//}

.hovicon {
  box-shadow: 0 0 0 2px rgba(255,255,255,0);
  overflow: hidden;
  -webkit-transition: background 1s, color 1s, box-shadow 1s;
  -moz-transition: background 1s, color 1s, box-shadow 1s;
  transition: background 1s, color 1s, box-shadow 1s;
}

.hovicon:hover {
  background: $colorMain0;
  color: white;
  box-shadow: 0 0 0 2px $colorMain;
}

//.hovicon:hover:before {
//  -webkit-animation: toRightFromLeft 0.3s forwards;
//  -moz-animation: toRightFromLeft 0.3s forwards;
//  animation: toRightFromLeft 0.3s forwards;
//}
//
//@-webkit-keyframes toRightFromLeft {
//  49% {
//    -webkit-transform: translate(100%);
//  }
//  50% {
//    opacity: 0;
//    -webkit-transform: translate(-100%);
//  }
//  51% {
//    opacity: 1;
//  }
//}
//@-moz-keyframes toRightFromLeft {
//  49% {
//    -moz-transform: translate(100%);
//  }
//  50% {
//    opacity: 0;
//    -moz-transform: translate(-100%);
//  }
//  51% {
//    opacity: 1;
//  }
//}
//@keyframes toRightFromLeft {
//  49% {
//    transform: translate(100%);
//  }
//  50% {
//    opacity: 0;
//    transform: translate(-100%);
//  }
//  51% {
//    opacity: 1;
//  }
//}