.loader::before, .loader::after {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: -5px;
  content: "";
  width: 1px;
  height: 1px;
  background: #286090;
}
.loader::before {
  animation: loadbefore .7s infinite alternate ease-in-out;
}
.loader::after {
  animation: loadafter .7s infinite alternate ease-in-out;
}
@keyframes loadbefore {
  0% {
    margin-left: 50%;
    width:0;
  }
  100% {
    margin-left: 0;
    width: 50%;
  }
}
@keyframes loadafter {
  0% {
    width:0;
  }
  100% {
    width: 50%;
  }
}