.modal-dialog {
  min-width: 90%;
}

.modal-content {
  border-radius: 0;
  background: #000;
}

.modal-header {
  border-bottom: 1px solid #151515;
}

.modal-footer {
  border-top: 1px solid #151515;
}

.modal-body {
  padding: 0;
}

.close {
  color: white;
  text-shadow: none;
  opacity: 0.5;

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
  }
}