.mainPage {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 5vw;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.fakePage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 0;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.9);
  z-index: 40;
  overflow-x: hidden;
  overflow-y: scroll;
}

.topnav, .title {
  font-size: 28px;
  width: 100%;
  background: rgba(0,0,0,.8);
  min-height: 70px;
  line-height: 70px;
  padding: 0 15px;
  cursor: default;
}

.topnav {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
}

.topnav .navRight {
  position: absolute;
  text-align: right;
  right: 15px;
}

.appTitle {
  font-size: 40px;
  opacity: 0.2;
  text-align: right;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  position: absolute;
}

.input {
  width: 300px;
  max-width: 100%;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.row .title {
  margin: 0 -15px 15px -15px;

}
.filters {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(0, 0, 0, .8);
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  animation: FadeOut 1s ease-in-out;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.filters.on {
  height: initial;
  opacity: 1;
  padding: 15px;
  margin: 70px 0;
  animation: FadeIn 1s ease-in-out;
}

@keyframes FadeIn {
  0% {
    height: initial;
    padding: 15px;
    opacity: 0;
    margin: 0;
  }
  100% {
    height: initial;
    padding: 15px;
    opacity: 1;
    margin: 70px 0;
  }
}

@keyframes FadeOut {
  0% {
    height: initial;
    padding: 15px;
    opacity: 1;
    margin: 70px 0;
  }
  99% {
    height: initial;
    padding: 15px;
    opacity: 0;
    margin: 0;
  }
  100% {
    height: 0;
    padding: 0;
    opacity: 0;
    margin: 0;
  }
}