.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: none;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.table th {
  font-weight: normal;
  border: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background: rgba(255, 255, 255, .1);
}

.table th:hover {
  background: rgba(255, 255, 255, .2);
}

.table td {
  min-width: 50px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.table:not(.static) tr {
  cursor: pointer;
}

.table:not(.static) tr:hover {
  background: rgba(255, 255, 255, .05);
}

.table label, .table .tag {
  margin-top: 0;
  margin-bottom: 0;
}

td.tdLabel {
  white-space: nowrap;
  width: 130px;
}