.tag {
  cursor: pointer;
  display: inline-block;
  padding: 1px 5px 0 5px;
  background: $color1;
  transition: background-color 0.4s ease-in;
  border: 1px solid rgba(255, 255, 255, .3);
  margin-right: 5px;
  margin-bottom: 5px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.tag IMG {
  vertical-align: middle;
}

.tag.off:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.tag.on {
  background: $color2;
  transition: background-color 0.4s ease-in;
  border: 1px solid rgba(255, 255, 255, 1);
}

.tag DIV {
  float: right;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  margin-right: -5px;
  margin-left: 5px;
  border-bottom-right-radius: 7px;
  padding: 1px 5px 0 5px;
  margin-top: -1px;
}