<banner [data]="userGame"></banner>

<div class="container-fluid">
    <div *ngIf="userGame.game" class="row">
        <div class="col-md-4 text-center">

            <game-images [game]="userGame.game"></game-images>
        </div>

        <div class="col-md-8">


            <div class="title">
                <div class="navRight">
                    <i *ngIf="!selectedGame" class="hovicon far fa-edit"
                          (click)="openForm('edit')"
                           pTooltip="{{ 'btn.edit' | translate }}"
                           tooltipPosition="left"></i>
                    <i *ngIf="!selectedGame" class="hovicon far fa-trash-alt"
                          (click)="openForm('delete')"
                           pTooltip="{{ 'btn.remove' | translate }}"
                           tooltipPosition="left"></i>
                    <i *ngIf="selectedGame" class="hovicon fas fa-times"
                          (click)="openForm()"
                           pTooltip="{{ 'btn.close' | translate }}"
                           tooltipPosition="left"></i>
                </div>
                <img src="/assets/img/platform/{{userGame.platform.slug}}.png" class="platformLogo">
                <div class="titleText">{{ userGame.game.name }}</div>
                <!--<span style="color: rgba(255,255,255,0.5); font-size: 18px;">/&nbsp;{{ userGame.platform.name }}</span>&lt;!&ndash;-->
            </div>


            <game-form *ngIf="selectedGame" [game]="selectedGame" [platform]="selectedPlatform"
                       [userGame]="userGame" [update]="update"
                       (state)="formStateUpdate($event)" [action]="formAction"></game-form>

            <section *ngIf="!selectedGame">

                <div class="row">
                    <div *ngFor="let colFields of userFields" class="col-md-4">
                        <table class="table static">
                            <tr *ngFor="let field of colFields">
                                <td class="tdLabel"><label>{{ 'field.' + field | translate }}</label></td>
                                <td [innerHTML]="userGame | userGameValue: field | translate | wrapValue: userGame: field"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table static">
                            <tr *ngFor="let field of gameFields">
                                <td class="tdLabel"><label>{{ 'field.' + field | translate }}</label></td>
                                <td [innerHTML]="userGame | userGameValue: field | translate | wrapValue: userGame: field"></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <label>{{ 'field.userGame.note' | translate }}</label>
                        <br/>
                        {{userGame.note}}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>