

<div class="full">
    <div class="fullTitle">
        <a *ngIf="action == 'login'" class="navRight" (click)="action = 'register'">Inscription</a>
        <a *ngIf="action == 'register'" class="navRight" (click)="action = 'login'">Connexion</a>
        <h2 *ngIf="action == 'login'">Connexion</h2>
        <h2 *ngIf="action == 'register'">Inscription</h2>
            
        <form name="form" (ngSubmit)="login()"  #loginForm="ngForm">

            <div class="row">
                <div class="col-md-12">
                    <input type="text" id="username"
                           required
                           [(ngModel)]="user.username" name="username"
                           [disabled]="loading"
                           #username="ngModel">
                    <span class="bar"></span>
                    <label for="username">Identifiant</label>
                </div>
            </div>

            <div *ngIf="action == 'register'" class="row">
                <div class="col-md-12">
                    <input type="text" id="email"
                           required
                           [(ngModel)]="user.email" name="email"
                           [disabled]="loading"
                           #email="ngModel">
                    <span class="bar"></span>
                    <label for="email">E-Mail</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="password" id="password"
                           required
                           [(ngModel)]="user.password" name="password"
                           [disabled]="loading"
                           #password="ngModel">
                    <span class="bar"></span>
                    <label for="password">Mot de passe</label>
                </div>
            </div>

            <div *ngIf="action == 'register'" class="row">
                <div class="col-md-12">
                    <input type="password" id="confirmPassword"
                           required
                           [(ngModel)]="user.confirmPassword" name="confirmPassword"
                           [disabled]="loading"
                           #confirmPassword="ngModel">
                    <span class="bar"></span>
                    <label for="confirmPassword">Confirmation mot de passe</label>
                </div>
            </div>

            <div class="row" *ngIf="error">
                <div class="col-md-12 error">{{error}}</div>
            </div>


            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12">
                    <button [disabled]="!loginForm.form.valid || loading" class="btn btn-primary">Start</button>
                </div>
            </div>
        </form>
    </div>
</div>

<loading *ngIf="loading" [action]="action"></loading>