<form (ngSubmit)="submitForm()" #postUserGameForm="ngForm" *ngIf="!loading">

    <div *ngIf="action == 'new' || action == 'edit'" class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <input *ngIf="!game.platforms" disabled type="text" [value]="_userGame.platform.name"/>
                <select *ngIf="game.platforms" id="selectedPlatform"
                        required
                        [(ngModel)]="platform" name="platform"
                        #name="ngModel">
                    <option *ngFor="let p of game.platforms" [ngValue]="p">{{p.name}}</option>
                </select>
                <span class="bar"></span>
                <label for="selectedPlatform">{{ 'field.userGame.platform' | translate }}</label>
            </div>
            <div class="col-md-4">
                <select id="completeness"
                        required
                        [(ngModel)]="_userGame.completeness" name="completeness"
                        #name="ngModel">
                    <option value="0">{{ 'enum.completeness.0' | translate }}</option>
                    <option value="1">{{ 'enum.completeness.1' | translate }}</option>
                    <option value="2">{{ 'enum.completeness.2' | translate }}</option>
                    <option value="3" selected>{{ 'enum.completeness.3' | translate }}</option>
                    <option value="4">{{ 'enum.completeness.4' | translate }}</option>
                    <option value="5">{{ 'enum.completeness.5' | translate }}</option>
                </select>
                <span class="bar"></span>
                <label for="completeness">{{ 'field.userGame.completeness' | translate }}</label>
            </div>
            <div class="col-md-4 rating">
                <input type="text" id="rating"
                       [(ngModel)]="_userGame.rating"
                       [formControl]="validateUserGameForm.get('rating')">
                <span class="bar"></span>
                <label for="rating">{{ 'field.userGame.rating' | translate }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <select id="version"
                        required
                        [(ngModel)]="_userGame.version" name="version"
                        #name="ngModel">
                    <option value="FRA" selected>FRA</option>
                    <option value="EUR">EUR</option>
                    <option value="JAP">JAP</option>
                    <option value="USA">USA</option>
                </select>
                <span class="bar"></span>
                <label for="version">{{ 'field.userGame.version' | translate }}</label>
            </div>
            <div class="col-md-4">
                <select id="cond"
                        required
                        [(ngModel)]="_userGame.cond" name="cond"
                        #name="ngModel">
                    <option value="0">{{ 'enum.cond.0' | translate }}</option>
                    <option value="1">{{ 'enum.cond.1' | translate }}</option>
                    <option value="2" selected>{{ 'enum.cond.2' | translate }}</option>
                    <option value="3">{{ 'enum.cond.3' | translate }}</option>
                    <option value="4">{{ 'enum.cond.4' | translate }}</option>
                </select>
                <span class="bar"></span>
                <label for="cond">{{ 'field.userGame.cond' | translate }}</label>
            </div>
            <div class="col-md-4">
                <select id="progress"
                        required
                        [(ngModel)]="_userGame.progress" name="progress"
                        #name="ngModel">
                    <option value="2">{{ 'enum.progress.2' | translate }}</option>
                    <option value="1">{{ 'enum.progress.1' | translate }}</option>
                    <option value="0" selected>{{ 'enum.progress.0' | translate }}</option>
                    <option value="3">{{ 'enum.progress.3' | translate }}</option>
                </select>
                <span class="bar"></span>
                <label for="progress">{{ 'field.userGame.progress' | translate }}</label>
            </div>
        </div>

        <section *ngFor="let sp of ['purchase', 'sale']">

            <hr/>

            <div class="row">
                <div class="col-md-3" *ngIf="sp == 'purchase'">
                    <input type="text" id="priceAsked"
                           [(ngModel)]="_userGame.priceAsked"
                           [formControl]="validateUserGameForm.get('priceAsked')">
                    <span class="bar"></span>
                    <label for="priceAsked">{{ 'field.userGame.priceAsked' | translate }}</label>
                </div>
                <div class="col-md-3" *ngIf="sp == 'purchase'">
                    <input type="text" id="pricePaid"
                           [(ngModel)]="_userGame.pricePaid"
                           [formControl]="validateUserGameForm.get('pricePaid')">
                    <span class="bar"></span>
                    <label for="pricePaid">{{ 'field.userGame.pricePaid' | translate }}</label>
                </div>
                <div class="col-md-3" *ngIf="sp == 'sale'">
                    <input type="text" id="priceResale"
                           [(ngModel)]="_userGame.priceResale"
                           [formControl]="validateUserGameForm.get('priceResale')">
                    <span class="bar"></span>
                    <label for="priceResale">{{ 'field.userGame.priceResale' | translate }}</label>
                </div>
                <div class="col-md-3" *ngIf="sp == 'sale'">
                    <input type="text" id="priceSold"
                           [(ngModel)]="_userGame.priceSold"
                           [formControl]="validateUserGameForm.get('priceSold')">
                    <span class="bar"></span>
                    <label for="priceSold">{{ 'field.userGame.priceSold' | translate }}</label>
                </div>
                <div class="col-md-6">

                    <p-calendar id="{{ sp }}Date"
                                [(ngModel)]="_userGame[sp+'Date']"
                                [formControl]="validateUserGameForm.get(sp+'Date')"
                                [dateFormat]="'dd/mm/yy'"
                                [monthNavigator]="true"
                                [yearNavigator]="true"
                                yearRange="1950:2050"
                    ></p-calendar>

                    <span class="bar"></span>
                    <label class="primeng" for="{{ sp }}Date">{{ 'field.userGame.' + sp + 'Date' | translate }}</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <select id="{{ sp }}Place"
                            [(ngModel)]="_userGame[sp+'Place']" name="{{ sp }}Place"
                            #name="ngModel"
                            *ngIf="placeSelect[sp]"
                            (change)="onSelectPlace($event.target.value, sp)">
                        <option *ngFor="let p of userPlaces" [ngValue]="p">{{p}}</option>
                        <option value="__new__">{{ 'label.newPlace' | translate }}</option>
                    </select>
                    <input type="text" id="{{ sp }}Place"
                           [(ngModel)]="_userGame[sp+'Place']" name="{{ sp }}Place"
                           *ngIf="!placeSelect[sp]">
                    <span class="bar"></span>
                    <label for="{{ sp }}Place">{{ 'field.userGame.' + sp + 'Place' | translate }}</label>
                </div>
                <div class="col-md-6">
                    <select id="newContacts{{sp}}"
                            [(ngModel)]="_userGame[sp+'Contact']" name="newContacts{{sp}}"
                            #name="ngModel">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="newContact">{{ 'label.newContact' | translate }}</option>
                        <option *ngFor="let c of userContacts" [ngValue]="c">{{c | formatName:true}}</option>
                    </select>

                    <span class="bar"></span>
                    <label for="newContacts{{sp}}">{{ 'field.userGame.' + sp + 'Contact' | translate }}</label>
                </div>
            </div>

            <section *ngIf="_userGame[sp+'Contact'] && _userGame[sp+'Contact'].id == 0">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" id="newContacts{{sp}}FirstName"
                               required
                               [(ngModel)]="newContacts[sp].firstName" name="newContacts{{sp}}FirstName"
                               #name="ngModel">
                        <span class="bar"></span>
                        <label for="newContacts{{sp}}FirstName">{{ 'field.contact.firstName' | translate }}</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="newContacts{{sp}}LastName"
                               [(ngModel)]="newContacts[sp].lastName" name="newContacts{{sp}}LastName"
                               #name="ngModel">
                        <span class="bar"></span>
                        <label for="newContacts{{sp}}LastName">{{ 'field.contact.lastName' | translate }}</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="newContacts{{sp}}Nickame"
                               [(ngModel)]="newContacts[sp].nickname" name="newContacts{{sp}}Nickame"
                               #name="ngModel">
                        <span class="bar"></span>
                        <label for="newContacts{{sp}}Nickame">{{ 'field.contact.nickname' | translate }}</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="newContacts{{sp}}Email"
                               [(ngModel)]="newContacts[sp].email" name="newContacts{{sp}}Email"
                               #name="ngModel">
                        <span class="bar"></span>
                        <label for="newContacts{{sp}}Email">{{ 'field.contact.email' | translate }}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <input type="text" id="newContacts{{sp}}Phone"
                               [(ngModel)]="newContacts[sp].phone" name="newContacts{{sp}}Phone"
                               #name="ngModel">
                        <span class="bar"></span>
                        <label for="newContacts{{sp}}Phone">{{ 'field.contact.phone' | translate }}</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="newContacts{{sp}}Address"
                               [(ngModel)]="newContacts[sp].address" name="newContacts{{sp}}Address"
                               #name="ngModel">
                        <span class="bar"></span>
                        <label for="newContacts{{sp}}Address">{{ 'field.contact.address' | translate }}</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="newContacts{{sp}}Zipcode"
                               [(ngModel)]="newContacts[sp].zipcode" name="newContacts{{sp}}Zipcode"
                               #name="ngModel">
                        <span class="bar"></span>
                        <label for="newContacts{{sp}}Zipcode">{{ 'field.contact.zipcode' | translate }}</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="newContacts{{sp}}City"
                               [(ngModel)]="newContacts[sp].city" name="newContacts{{sp}}City"
                               #name="ngModel">
                        <span class="bar"></span>
                        <label for="newContacts{{sp}}City">{{ 'field.contact.city' | translate }}</label>
                    </div>
                </div>
            </section>

        </section>

        <hr/>

        <div class="row">
            <div class="col-md-12">
                        <textarea id="note"
                                  [(ngModel)]="_userGame.note" name="note"
                                  #name="ngModel"></textarea>
                <span class="bar"></span>
                <label for="note">{{ 'field.userGame.note' | translate }}</label>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success" *ngIf="postUserGameForm"
                        [disabled]="!postUserGameForm.form.valid || !validateUserGameForm.valid || loading">
                    {{ 'btn.save' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="action == 'delete'">
        <div class="col-md-12">
            <h1>{{ 'msg.removeConfirm' | translate }}</h1>
            <button type="submit" class="btn btn-danger">
                {{ 'btn.remove' | translate }}
            </button>
        </div>
    </div>
</form>
