<div class="full" style="background-color:#002840"
     [style.background-image]="'url(' + image + ')' | safe: 'style'"
     (click)="randomBgIndex()">
    <div class="gameBannerMessage">
        
        <div *ngIf="action != 'welcome'">
            {{ 'msg.loading.' + action | translate }}
            <div style="font-size: 14px; margin-top: 15px;">{{ 'msg.loadingSub' | translate }}</div>
        </div>
        
        <div *ngIf="action == 'welcome'" class="welcome">
            <div [innerHTML]="'msg.loading.' + action | translate"></div>
            <div [innerHTML]="'msg.loading.welcomeText' | translate | terminal" style="font-size: 14px; margin-top: 15px;"></div>
            <div style="font-size: 14px; text-align: right;"><a href="http://camus.me" target="_blank">{{ 'label.developedBy' | translate }} Benjamin Camus</a><br /><br /></div>
            <button class="btn btn-success" (click)="closeWelcome()">START</button>
            <div style="font-size: 12px;">
                <input
                        [(ngModel)]="welcomeHide"
                        #name="ngModel" type="checkbox" id="welcomeHide" name="welcomeHide">
                <label for="welcomeHide">&nbsp;{{ 'label.notShowAgain' | translate }}</label>
            </div>
        </div>

        <div class="progressLoading" *ngIf="action == 'sync'" [ngClass]="color">
            <div class="water" [style.top]="(100 - (currentProgress * 100 / total)) + '%'"></div>
            <div class="percent" [style.font-size]="(30 + (currentProgress * 100 / total) * 40 / 100) + 'px'">{{
                (currentProgress * 100 / total) | number:'1.0-0' }}%
            </div>
            <div class="sub" *ngIf="total > 0">{{ currentProgress + ' / ' + total }}</div>
        </div>
    </div>
</div>