<banner [data]="selectedUserGame" [resize]="true"></banner>

<div class="vgc">VGC</div>

<div class="title">
    Mes Jeux

    <table class="table static">
        <tbody>
        <tr>
            <td></td>
            <td class="tdLabel"></td>
            <td class="tdLabel">prix payé</td>
            <td class="tdLabel">prix de vente</td>
        </tr>
        <tr>
            <td class="tdLabel">TOTAL</td>
            <td>{{ userGames.length }}&nbsp;jeux</td>
            <td>{{ userGames | total:'pricePaid' }}&nbsp;€</td>
            <td>{{ userGames | total:'priceResale' }}&nbsp;€</td>
        </tr>
        <tr>
            <td class="tdLabel">RECHERCHE</td>
            <td>{{ userGames | filter: userGameFilter | length }}&nbsp;jeux&nbsp;<span *ngIf="userGames.length > 0">({{ ((userGames | filter: userGameFilter | length) * 100 / userGames.length) | number:'2.0-0' }}%)</span>
            </td>
            <td>{{ userGames | filter: userGameFilter | total:'pricePaid' }}&nbsp;€&nbsp;<span
                    *ngIf="userGames.length > 0">({{ ((userGames | filter: userGameFilter | total:'pricePaid') * 100 / (userGames | total:'pricePaid')) |
                number:'2.0-0' }}%)</span>
            </td>
            <td>{{ userGames | filter: userGameFilter | total:'priceResale' }}&nbsp;€&nbsp;<span
                    *ngIf="userGames.length > 0">({{ ((userGames | filter: userGameFilter | total:'priceResale') * 100 / (userGames |
                total:'priceResale')) | number:'2.0-0' }}%)</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div *ngIf="displayMode == 1"
     style="overflow: auto; height: calc(100vh - 70px); position: absolute; top: 70px; width: 100%;">

    <table class="table" style="background: #111">
        <tr>
            <th></th>
            <th *ngFor="let field of tableFields"
                (click)="setOrderField(field)"
                [ngClass]="userGameFields[field].hiddenMD ? 'hidden-md hidden-sm hidden-xs' : ''">

                <span *ngIf="field != 'progress'">{{ userGameFields[field].label }}</span>
                <i class="fa" *ngIf="orderField == field"
                   [ngClass]="orderOption ? 'fa-sort-down' : 'fa-sort-up'"></i>
                <i class="fas fa-sort-down invisible" *ngIf="orderField != field"></i>
            </th>
        </tr>
        <tr *ngFor="let userGame of userGames | filter: userGameFilter | orderBy: orderField:orderOption;"
            [ngClass]="selectedUserGame && selectedUserGame == userGame ? 'focus' : ''"
            (click)="openUserGame(userGame)"
            (mouseenter)="selectUserGame(userGame)">

            <td [style.background-image]="'url(http://images.igdb.com/igdb/image/upload/t_cover_big/' + userGame.game.cover.cloudinaryId + '.jpg)' | safe: 'style'"></td>

            <td *ngFor="let field of tableFields"
                [ngClass]="userGameFields[field].hiddenMD ? 'hidden-md hidden-sm hidden-xs' : ''">

                <span *ngIf="field != 'progress'" [innerHTML]="userGame | userGameValue: userGameFields[field]"></span>
                <div *ngIf="field == 'progress'" class="gameProgress">
                    <i *ngIf="userGame.progress == '0'" class="fas fa-battery-empty text-error"></i>
                    <i *ngIf="userGame.progress == '1'" class="fas fa-battery-half text-warning"></i>
                    <i *ngIf="userGame.progress == '2'" class="fas fa-battery-full text-success"></i>
                    <i *ngIf="userGame.progress == '3'" class="fas fa-battery-full text-info"></i>
                </div>
            </td>
        </tr>
    </table>
    <i class="hovicon fas fa-plus" (click)="openNewUserGame()"></i>
</div>
<div *ngIf="displayMode == 0" class="gameBoxContainer">

    <section *ngFor="let userGame of userGames | filter: userGameFilter | orderBy: orderField:orderOption;"
             (click)="openUserGame(userGame)"
             (mouseenter)="userGameHover(userGame)"
             class="gameBox visible_anim"
             [ngClass]="selectedUserGame && selectedUserGame == userGame ? 'focus' : ''">
        <div class="gameCover" *ngIf="userGame.game.cover"
             [style.background-image]="'url(http://images.igdb.com/igdb/image/upload/t_cover_big/' + userGame.game.cover.cloudinaryId + '.jpg)' | safe: 'style'"></div>
        <div class=gameInfos>
            <div class="gameTitle" [innerHTML]="userGame.game | formatName:true"></div>

            <div class="row">
                <div class="col-md-12">
                    <div style="float: right" [innerHTML]="userGame | userGameValue: userGameFields['rating']"></div>
                    {{ userGame.platform.name }}<br>
                    <div *ngIf="userGame.game.series[0]" style="overflow: hidden; white-space: nowrap"><label>Série</label> {{ userGame.game.series[0].name }}</div>
                    <div *ngIf="userGame.game.developers[0]" style="overflow: hidden; white-space: nowrap"><label>Développeur</label> {{ userGame.game.developers[0].name }}</div>
                    <span [innerHTML]="userGame | userGameValue: userGameFields['completeness']"></span> •
                    <span [innerHTML]="userGame | userGameValue: userGameFields['cond']"></span><br>
                    <span [innerHTML]="userGame | userGameValue: userGameFields['progress']"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Demandé</label> <span [innerHTML]="userGame | userGameValue: userGameFields['priceAsked']: false"></span>
                </div>
                <div class="col-md-6">
                    <label>Payé</label> <span [innerHTML]="userGame | userGameValue: userGameFields['pricePaid']: false"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Revente</label> <span [innerHTML]="userGame | userGameValue: userGameFields['priceResale']: false"></span>
                </div>
                <div class="col-md-6">
                    <label>Vendu</label> <span [innerHTML]="userGame | userGameValue: userGameFields['priceSold']: false"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="gameBox visible_anim">
        <i class="hovicon fas fa-plus" (click)="openNewUserGame()"></i>
    </section>
</div>

<nav class="topnav">
    <div class="navLeft">
        <i routerLink="/login" routerLinkActive="active" class="hovicon fas fa-user"></i>
        <i class="hovicon fas fa-plus" (click)="openNewUserGame()"></i>
        <i class="hovicon fas fa-sync" (click)="getGames()"
           [ngClass]="loading ? 'fa-spin' : ''"></i>
        <div *ngIf="userGamesDate" class="syncDate">{{
            userGamesDate | date:'dd/MM'}}<br/>{{ userGamesDate | date:'HH:mm'}}
        </div>
    </div>
    <div class="navRight">
        <div class="searchToolsBig">
            <div class="input">
                <input type="text" id="name" name="name"
                       [(ngModel)]="userGameFilter.game.name"
                       #name="ngModel"
                       autocomplete="off"
                       placeholder="Recherche">
                <span class="bar"></span>
            </div>
            <div class="input">
                <select id="orderField"
                        [(ngModel)]="orderField" name="orderField"
                        #name="ngModel">
                    <option *ngFor="let field of tableFields"
                            [value]="userGameFields[field].name">

                        {{ userGameFields[field].label }}
                    </option>
                </select>
            </div>
            <i class="hovicon fa" (click)="orderOption = !orderOption"
               [ngClass]="orderOption ? 'fa-sort-amount-down' : 'fa-sort-amount-up'"></i>
        </div>
        <i class="hovicon fas fa-search" (click)="displayFilters = !displayFilters"></i>
        <i *ngIf="displayMode != 0" (click)="displayMode = 0" class="hovicon fas fa-th"></i>
        <i *ngIf="displayMode != 1" (click)="displayMode = 1" class="hovicon fas fa-list"></i>
    </div>

    <div class="filters" *ngIf="displayFilters" [ngClass]="displayFilters ? 'on' : ''" preventParentScroll>

        <div class="container-fluid searchToolsSmall">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" id="nameSmall" name="name"
                           [(ngModel)]="userGameFilter.game.name"
                           #name="ngModel"
                           autocomplete="off"
                           placeholder="Recherche">
                    <span class="bar"></span>
                    <label for="nameSmall">Recherche</label>
                </div>
                <div class="col-md-4">
                    <select id="orderFieldSmall"
                            [(ngModel)]="orderField" name="orderField"
                            #name="ngModel">
                        <option *ngFor="let field of tableFields"
                                [value]="userGameFields[field].name">

                            {{ userGameFields[field].label }}
                        </option>
                    </select>
                    <label for="orderFieldSmall">Tri</label>
                </div>
                <div class="col-md-4">
                    <i class="hovicon fa" (click)="orderOption = !orderOption"
                       [ngClass]="orderOption ? 'fa-sort-amount-down' : 'fa-sort-amount-up'"></i>
                </div>
            </div>
        </div>
        <p-tabView>
            <p-tabPanel header="Général">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <label for="name">Platforme</label><br>
                            <tag *ngFor="let platform of filters.tags.platforms;"
                                 [tag]="platform"
                                 [filter]="userGameFilter.platforms"
                                 [suffix]="filters.count.platforms[platform.id]"
                                 (uploaded)="toggleTag('platforms', $event, platform)"></tag>
                        </div>
                        <div>
                            <label for="name">Série</label><br>
                            <tag *ngFor="let series of filters.tags.series;"
                                 [tag]="series"
                                 [filter]="userGameFilter.game.series"
                                 [suffix]="filters.count.series[series.id]"
                                 (uploaded)="toggleTag('series', $event, series)"></tag>
                        </div>
                        <div>
                            <label for="name">Mode</label><br>
                            <tag *ngFor="let mode of filters.tags.modes;"
                                 [tag]="mode"
                                 [filter]="userGameFilter.game.modes"
                                 [suffix]="filters.count.modes[mode.id]"
                                 (uploaded)="toggleTag('modes', $event, mode)"></tag>
                        </div>
                        <div>
                            <label for="name">Thème</label><br>
                            <tag *ngFor="let theme of filters.tags.themes;"
                                 [tag]="theme"
                                 [filter]="userGameFilter.game.themes"
                                 [suffix]="filters.count.themes[theme.id]"
                                 (uploaded)="toggleTag('themes', $event, theme)"></tag>
                        </div>
                        <div>
                            <label for="name">Genre</label><br>
                            <tag *ngFor="let genre of filters.tags.genres;"
                                 [tag]="genre"
                                 [filter]="userGameFilter.game.genres"
                                 [suffix]="filters.count.genres[genre.id]"
                                 (uploaded)="toggleTag('genres', $event, genre)"></tag>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="name">Année Sortie ({{userGameFilter.releaseYearRange[0] + ' - ' +
                            userGameFilter.releaseYearRange[1]}})</label><br>
                        <p-slider [(ngModel)]="userGameFilter.releaseYearRange" [range]="true"
                                  (onChange)="resetSelectedUserGame()"
                                  [min]="userGameFilter.minReleaseYear"
                                  [max]="userGameFilter.maxReleaseYear"></p-slider>

                        <label for="name">Année Achat ({{userGameFilter.purchaseYearRange[0] + ' - ' +
                            userGameFilter.purchaseYearRange[1]}})</label><br>
                        <p-slider [(ngModel)]="userGameFilter.purchaseYearRange" [range]="true"
                                  (onChange)="resetSelectedUserGame()"
                                  [min]="userGameFilter.minPurchaseYear"
                                  [max]="userGameFilter.maxPurchaseYear"></p-slider>

                        <label for="name">Note ({{userGameFilter.ratingRange[0] + ' - ' +
                            userGameFilter.ratingRange[1]}})</label><br>
                        <p-slider [(ngModel)]="userGameFilter.ratingRange" [range]="true"
                                  (onChange)="resetSelectedUserGame()"
                                  [min]="userGameFilter.minRating"
                                  [max]="userGameFilter.maxRating"></p-slider>

                        <label for="name">Prix Payé ({{userGameFilter.pricePaidRange[0] + ' - ' +
                            userGameFilter.pricePaidRange[1]}})</label><br>
                        <p-slider [(ngModel)]="userGameFilter.pricePaidRange" [range]="true"
                                  (onChange)="resetSelectedUserGame()"
                                  [min]="userGameFilter.minPrice"
                                  [max]="userGameFilter.maxPrice"></p-slider>

                        <label for="name">Prix Revente ({{userGameFilter.priceResaleRange[0] + ' - ' +
                            userGameFilter.priceResaleRange[1]}})</label><br>
                        <p-slider [(ngModel)]="userGameFilter.priceResaleRange" [range]="true"
                                  (onChange)="resetSelectedUserGame()"
                                  [min]="userGameFilter.minPrice"
                                  [max]="userGameFilter.maxPrice"></p-slider>

                        <label for="name">Prix Vendu ({{userGameFilter.priceSoldRange[0] + ' - ' +
                            userGameFilter.priceSoldRange[1]}})</label><br>
                        <p-slider [(ngModel)]="userGameFilter.priceSoldRange" [range]="true"
                                  (onChange)="resetSelectedUserGame()"
                                  [min]="userGameFilter.minPrice"
                                  [max]="userGameFilter.maxPrice"></p-slider>

                        <label for="name">Prix Demandé ({{userGameFilter.priceAskedRange[0] + ' - ' +
                            userGameFilter.priceAskedRange[1]}})</label><br>
                        <p-slider [(ngModel)]="userGameFilter.priceAskedRange" [range]="true"
                                  (onChange)="resetSelectedUserGame()"
                                  [min]="userGameFilter.minPrice"
                                  [max]="userGameFilter.maxPrice"></p-slider>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <label>Version</label><br>
                            <tag [tag]="'FRA'"
                                 [filter]="userGameFilter.versions"
                                 [suffix]="filters.count.version['FRA']"
                                 (uploaded)="toggleTag('versions', $event, 'FRA')"></tag>
                            <tag [tag]="'EUR'"
                                 [filter]="userGameFilter.versions"
                                 [suffix]="filters.count.version['EUR']"
                                 (uploaded)="toggleTag('versions', $event, 'EUR')"></tag>
                            <tag [tag]="'JAP'"
                                 [filter]="userGameFilter.versions"
                                 [suffix]="filters.count.version['JAP']"
                                 (uploaded)="toggleTag('versions', $event, 'JAP')"></tag>
                            <tag [tag]="'USA'"
                                 [filter]="userGameFilter.versions"
                                 [suffix]="filters.count.version['USA']"
                                 (uploaded)="toggleTag('versions', $event, 'USA')"></tag>
                        </div>
                        <div>
                            <label>Jeu</label><br>
                            <tag [tag]="'Loose'"
                                 [value]="0"
                                 [filter]="userGameFilter.completenesss"
                                 [suffix]="filters.count.completeness[0]"
                                 (uploaded)="toggleTag('completenesss', $event, 0)"></tag>
                            <tag [tag]="'Sans Notice'"
                                 [value]="1"
                                 [filter]="userGameFilter.completenesss"
                                 [suffix]="filters.count.completeness[1]"
                                 (uploaded)="toggleTag('completenesss', $event, 1)"></tag>
                            <tag [tag]="'Sans Boîte'"
                                 [value]="2"
                                 [filter]="userGameFilter.completenesss"
                                 [suffix]="filters.count.completeness[2]"
                                 (uploaded)="toggleTag('completenesss', $event, 2)"></tag>
                            <tag [tag]="'Complet'"
                                 [value]="3"
                                 [filter]="userGameFilter.completenesss"
                                 [suffix]="filters.count.completeness[3]"
                                 (uploaded)="toggleTag('completenesss', $event, 3)"></tag>
                            <tag [tag]="'Dématérialisé'"
                                 [value]="4"
                                 [filter]="userGameFilter.completenesss"
                                 [suffix]="filters.count.completeness[4]"
                                 (uploaded)="toggleTag('completenesss', $event, 4)"></tag>
                            <tag [tag]="'Neuf'"
                                 [value]="5"
                                 [filter]="userGameFilter.completenesss"
                                 [suffix]="filters.count.completeness[5]"
                                 (uploaded)="toggleTag('completenesss', $event, 5)"></tag>
                        </div>
                        <div>
                            <label>Progression</label><br>
                            <tag [tag]="'Jamais joué'"
                                 [value]="0"
                                 [filter]="userGameFilter.progresses"
                                 [suffix]="filters.count.progress[0]"
                                 (uploaded)="toggleTag('progresses', $event, 0)"></tag>
                            <tag [tag]="'En cours'"
                                 [value]="1"
                                 [filter]="userGameFilter.progresses"
                                 [suffix]="filters.count.progress[1]"
                                 (uploaded)="toggleTag('progresses', $event, 1)"></tag>
                            <tag [tag]="'Terminé'"
                                 [value]="2"
                                 [filter]="userGameFilter.progresses"
                                 [suffix]="filters.count.progress[2]"
                                 (uploaded)="toggleTag('progresses', $event, 2)"></tag>
                            <tag [tag]="'Abandonné'" [value]="3" [filter]="userGameFilter.progresses"
                                 [suffix]="filters.count.progress[3]"
                                 (uploaded)="toggleTag('progresses', $event, 3)"></tag>
                        </div>
                        <div>
                            <label>État</label><br>
                            <tag [tag]="'Très Bon État'"
                                 [value]="2"
                                 [filter]="userGameFilter.conds"
                                 [suffix]="filters.count.cond[2]"
                                 (uploaded)="toggleTag('conds', $event, 2)"></tag>
                            <tag [tag]="'Bon État'"
                                 [value]="1"
                                 [filter]="userGameFilter.conds"
                                 [suffix]="filters.count.cond[1]"
                                 (uploaded)="toggleTag('conds', $event, 1)"></tag>
                            <tag [tag]="'Bof Bof'"
                                 [value]="0"
                                 [filter]="userGameFilter.conds"
                                 [suffix]="filters.count.cond[0]"
                                 (uploaded)="toggleTag('conds', $event, 0)"></tag>
                            <tag [tag]="'Near Mint'"
                                 [value]="3"
                                 [filter]="userGameFilter.conds"
                                 [suffix]="filters.count.cond[3]"
                                 (uploaded)="toggleTag('conds', $event, 3)"></tag>
                            <tag [tag]="'Mint !!'"
                                 [value]="4"
                                 [filter]="userGameFilter.conds"
                                 [suffix]="filters.count.cond[4]"
                                 (uploaded)="toggleTag('conds', $event, 4)"></tag>
                        </div>
                        <div>
                            <label for="name">Lieu Achat</label><br>
                            <tag *ngFor="let place of filters.tags.purchasePlace;"
                                 [tag]="place"
                                 [filter]="userGameFilter.purchasePlaces"
                                 [suffix]="filters.count.purchasePlace[place]"
                                 (uploaded)="toggleTag('purchasePlaces', $event, place)"></tag>
                        </div>
                        <div *ngIf="filters.tags.salePlace.length > 0">
                            <label for="name">Lieu Vente</label><br>
                            <tag *ngFor="let place of filters.tags.salePlace;"
                                 [tag]="place"
                                 [filter]="userGameFilter.salePlaces"
                                 [suffix]="filters.count.salePlace[place]"
                                 (uploaded)="toggleTag('salePlaces', $event, place)"></tag>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Développeur">
                <tag *ngFor="let developer of filters.tags.developers;"
                     [tag]="developer"
                     [filter]="userGameFilter.game.developers"
                     [suffix]="filters.count.developers[developer.id]"
                     (uploaded)="toggleTag('developers', $event, developer)"></tag>
            </p-tabPanel>
            <p-tabPanel header="Éditeur">
                <tag *ngFor="let publisher of filters.tags.publishers;"
                     [tag]="publisher"
                     [filter]="userGameFilter.game.publishers"
                     [suffix]="filters.count.publishers[publisher.id]"
                     (uploaded)="toggleTag('publishers', $event, publisher)"></tag>
            </p-tabPanel>
            <p-tabPanel header="Vendeur">
                <tag *ngFor="let contact of filters.tags.purchaseContact;"
                     [tag]="contact | formatName"
                     [filter]="userGameFilter.purchaseContacts"
                     [suffix]="filters.count.purchaseContact[contact.id]"
                     (uploaded)="toggleTag('purchaseContacts', $event, contact)"></tag>
            </p-tabPanel>
            <p-tabPanel header="Acheteur" *ngIf="filters.tags.saleContact.length > 0">
                <tag *ngFor="let contact of filters.tags.saleContact;"
                     [tag]="contact | formatName"
                     [filter]="userGameFilter.saleContacts"
                     [suffix]="filters.count.saleContact[contact.id]"
                     (uploaded)="toggleTag('saleContacts', $event, contact)"></tag>
            </p-tabPanel>
        </p-tabView>
    </div>
</nav>

<game-detail [userGame]="selectedUserGame1" [transitionState]="transitionState" preventParentScroll
             *ngIf="displayUserGame && selectedUserGame1"
             (state)="detailStateUpdate($event)"></game-detail>
<game-detail [userGame]="selectedUserGame2" [transitionState]="transitionState" preventParentScroll
             *ngIf="displayUserGame && selectedUserGame2"
             (state)="detailStateUpdate($event)"></game-detail>

<div class="topnav" *ngIf="displayUserGame && selectedUserGame">

    <div class="navRight"><i class="hovicon fas fa-times" (click)="closeUserGame()"></i></div>
    <i *ngIf="prevUserGame" class="hovicon fas fa-chevron-left"
       (click)="navUserGame(true)"></i>
    <i *ngIf="nextUserGame" class="hovicon fas fa-chevron-right"
       (click)="navUserGame()"></i>
</div>

<game-new *ngIf="displayNewUserGame" (state)="detailStateUpdate($event)" preventParentScroll></game-new>
<div class="topnav" *ngIf="displayNewUserGame">
    <div class="navRight"><i class="hovicon fas fa-times" (click)="closeNewUserGame()"></i></div>
</div>

<game-chart *ngIf="displayChart" [filters]="filters"></game-chart>
<div class="topnav" *ngIf="displayChart">
    <div class="navRight"><i class="hovicon fas fa-times" (click)="closeChart()"></i></div>
</div>


<loading *ngIf="loading" [progress]="userGames.length" [total]="total" [action]="loadingAction"
         preventParentScroll></loading>
