<banner *ngIf="displayMode == 0" [data]="selectedUserGame" [disableVideo]="true"></banner>

<div *ngIf="displayMode == 1"
     class="tableDisplay"
     [style]="(!loading && sliceGap > 0 ? 'padding-top:80px;' : '') | safe: 'style'">

    <table class="table">
        <tr>
            <th></th>
            <th *ngFor="let field of tableFields"
                (click)="setOrderField(field)">

                <span *ngIf="field != 'progress'">{{ 'field.' + field | translate }}</span>
                <i class="fa" *ngIf="orderField == field"
                   [ngClass]="orderOption ? 'fa-sort-up' : 'fa-sort-down'"></i>
                <i class="fas fa-sort-down invisible" *ngIf="orderField != field"></i>
            </th>
        </tr>
        <tr *ngFor="let userGame of userGames | filter: userGameFilter | orderBy: orderField:orderOption | slice : sliceStart:sliceEnd;"
            [ngClass]="selectedUserGame && selectedUserGame == userGame ? 'focus' : ''"
            [routerLink]="'show/' + userGame.id"
            (mouseenter)="selectUserGame(userGame)">

            <td [style.background-image]="'url(' + environment.imagesUrl + 't_cover_big/' + userGame.game.cover.cloudinaryId + '.jpg)' | safe: 'style'"></td>

            <td *ngFor="let field of tableFields"
                [innerHTML]="userGame | userGameValue: field | translate | wrapValue: userGame: field"></td>
        </tr>
    </table>
</div>

<div *ngIf="displayMode == 0" class="gameBoxContainer bgblur">
    <section
            *ngFor="let userGame of userGames | filter: userGameFilter | orderBy: orderField:orderOption | slice : sliceStart:sliceEnd"
            [routerLink]="'show/' + userGame.id"
            (mouseenter)="userGameHover(userGame)"
            class="gameBox visible_anim"
            [ngClass]="selectedUserGame && selectedUserGame == userGame ? 'focus' : ''">
        <div class="gameCover" *ngIf="userGame.game.cover"
             [style.background-image]="'url(' + environment.imagesUrl + 't_cover_big/' + userGame.game.cover.cloudinaryId + '.jpg)' | safe: 'style'"></div>
        <div class=gameInfos>
            <div class="gameTitle">
                <span [innerHTML]="userGame.game | formatName:true"></span>
            </div>

            <div class="row">
                <div class="col-12">
                    <div style="float: right" [innerHTML]="userGame | userGameValue: 'userGame.rating'"></div>
                    {{ userGame.platform.name }}<br>
                    <div *ngIf="userGame.game.series[0]" style="overflow: hidden; white-space: nowrap"><label>{{
                        'field.game.series' | translate }}</label> {{ userGame.game.series[0].name }}
                    </div>
                    <div *ngIf="userGame.game.developers[0]" style="overflow: hidden; white-space: nowrap"><label>{{
                        'field.game.developers' | translate }}</label> {{ userGame.game.developers[0].name }}
                    </div>
                    <span [innerHTML]="userGame | userGameValue: 'userGame.completeness' | translate | wrapValue: userGame: 'userGame.completeness'"></span>
                    •
                    <span [innerHTML]="userGame | userGameValue: 'userGame.cond' | translate | wrapValue: userGame: 'userGame.cond'"></span><br>
                    <span [innerHTML]="userGame | userGameValue: 'userGame.progress' | translate | wrapValue: userGame: 'userGame.progress'"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>{{ 'field.userGame.priceAsked' | translate }}</label>&nbsp;<span
                        [innerHTML]="userGame | userGameValue: 'userGame.priceAsked': false | wrapValue: userGame: 'userGame.priceAsked'"></span>
                </div>
                <div class="col-6">
                    <label>{{ 'field.userGame.pricePaid' | translate }}</label>&nbsp;<span
                        [innerHTML]="userGame | userGameValue: 'userGame.pricePaid': false | wrapValue: userGame: 'userGame.pricePaid'"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>{{ 'field.userGame.priceResale' | translate }}</label>&nbsp;<span
                        [innerHTML]="userGame | userGameValue: 'userGame.priceResale': false | wrapValue: userGame: 'userGame.priceResale'"></span>
                </div>
                <div class="col-6">
                    <label>{{ 'field.userGame.priceSold' | translate }}</label>&nbsp;<span
                        [innerHTML]="userGame | userGameValue: 'userGame.priceSold': false | wrapValue: userGame: 'userGame.priceSold'"></span>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="gameBannerTools paginator" *ngIf="!loading && sliceGap > 0">

    <div class="input" style="width: 64px;">

        <select id="sliceGap"
                [(ngModel)]="sliceGap" name="sliceGap"
                (ngModelChange)="sliceGap = +sliceGap"
                #name="ngModel"
                (change)="sliceStart = 0; sliceEnd = sliceGap">
            <option [value]="10">10</option>
            <option *ngIf="userGames.length > 50" [value]="20">20</option>
            <option *ngIf="userGames.length > 100" [value]="50">50</option>
            <option *ngIf="userGames.length > 200" [value]="100">100</option>
            <option *ngIf="userGames.length > 400" [value]="200">200</option>
            <option [value]="userGames.length">{{ userGames.length }}</option>
        </select>
    </div>

    <p-paginator [first]="sliceStart" [rows]="sliceGap" [totalRecords]="userGames | filter: userGameFilter | length"
                 (onPageChange)="paginate($event)"></p-paginator>

    <span style="white-space: nowrap">
        {{ sliceStart + 1 }}
        >
        {{(userGames | filter: userGameFilter | length) < sliceEnd ? (userGames | filter: userGameFilter | length) : sliceEnd }}
        /
        {{ userGames | filter: userGameFilter | length }}
    </span>

</div>

<div class="ui-widget-overlay ui-sidebar-mask" *ngIf="sidebarLeft || sidebarRight"
     (click)="sidebarLeft = sidebarRight = false"></div>

<p-sidebar [(visible)]="sidebarLeft" [position]="'left'" [modal]="false" [autoZIndex]="false" [showCloseIcon]="false">
    <div class="infos">
        <i class="fas fa-fw fa-user" style="float: left; margin: 8px 10px; font-size: 24px"></i>
        {{currentUser.username}}<br>
        {{currentUser.email}}<br>
        <br>
        <a class="btn cool" routerLink="/login">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            {{ 'btn.logout' | translate }}
        </a>
    </div>
    <div class="content">
        <label>{{ 'title.gameList' | translate }}</label>
        <a class="btn cool" routerLink="new">
            <i class="fas fa-fw fa-plus"></i>
            {{ 'btn.newGame' | translate }}
        </a>
        <a class="btn cool" (click)="getGames(currentUser.username)">
            <i class="fas fa-fw fa-sync"></i>
            {{ 'btn.sync' | translate }}
            <small>{{ userGamesDate | date:'dd/MM'}} {{ userGamesDate | date:'HH:mm' }}</small>
        </a>

        <label>Joueur</label>
        <select id="playerName"
                [(ngModel)]="playerName" name="playerName"
                #name="ngModel">
            <option value="{{ currentUser.username }}">{{ currentUser.username }}</option>
            <option *ngFor="let player of currentUser.players" [value]="player">
                {{ player }}
            </option>
        </select>

        <a *ngIf="currentUser.username != playerName" class="btn cool"
            (click)="displayVersus = true">
            <i class="fas fa-fw fa-user-friends"></i>
            Versus
        </a>

<!--        <a class="btn cool" routerLink="new">-->
<!--            <i class="fas fa-fw fa-user-plus"></i>-->
<!--            Ajouter un joueur-->
<!--        </a>-->
    </div>
</p-sidebar>

<p-sidebar [(visible)]="sidebarRight" [position]="'right'" [modal]="false" [autoZIndex]="false" [showCloseIcon]="false">
    <div class="infos p-0">
        <table>
            <tbody>
            <tr>
                <td></td>
                <td class="tdLabel"></td>
                <td class="tdLabel">{{ 'field.userGame.pricePaid' | translate }}</td>
                <td class="tdLabel">{{ 'field.userGame.priceResale' | translate }}</td>
            </tr>
            <tr>
                <td class="tdLabel">
                    <i class="fas fa-bars"
                       pTooltip="{{ 'label.total' | translate }}"
                       tooltipPosition="left"></i>
                </td>
                <td>{{ userGames.length }}</td>
                <td>{{ userGames | total:'pricePaid' }}&nbsp;€</td>
                <td>{{ userGames | total:'priceResale' }}&nbsp;€</td>
            </tr>
            <tr>
                <td class="tdLabel">
                    <i class="fas fa-eye"
                       pTooltip="{{ 'label.search' | translate }}"
                       tooltipPosition="left"></i>
                </td>
                <td>{{ userGames | filter: userGameFilter | length }}</td>
                <td>{{ userGames | filter: userGameFilter | total:'pricePaid' }}&nbsp;€</td>
                <td>{{ userGames | filter: userGameFilter | total:'priceResale' }}&nbsp;€</td>
            </tr>
            <tr *ngIf="userGames.length > 0">
                <td></td>
                <td class="tdLabel">
                    {{ ((userGames | filter: userGameFilter | length) * 100 / userGames.length) | number:'2.0-0' }} %
                </td>
                <td class="tdLabel">
                    {{ ((userGames | filter: userGameFilter | length) * 100 / userGames.length) | number:'2.0-0' }} %
                </td>
                <td class="tdLabel">
                    {{ ((userGames | filter: userGameFilter | total:'priceResale') * 100 / (userGames | total:'priceResale')) | number:'2.0-0' }}
                    %
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="content">

        <div class="input">
            <input type="text" id="name" name="name"
                   [(ngModel)]="userGameFilter.game.name"
                   (ngModelChange)="resetSelectedUserGame()"
                   #name="ngModel"
                   placeholder="{{ 'label.search' | translate }}"
                   autocomplete="off">
            <span class="bar"></span>
        </div>
        <a class="btn cool" (click)="displayFilters = !displayFilters">
            <i class="fas fa-filter"></i>
            {{ 'btn.filter' | translate }}
        </a>

        <label>{{ 'label.sort' | translate }}</label>
        <div class="input">
            <select id="orderField"
                    [(ngModel)]="orderField" name="orderField"
                    #name="ngModel"
                    #t
                    (change)="changeOrder(t.value)">
                <option value="random">{{ 'label.random' | translate }}</option>
                <option *ngFor="let field of tableFields"
                        [value]="field">

                    {{ 'field.' + field | translate }}
                </option>
            </select></div>
        <a class="btn cool float-right" (click)="orderOption = !orderOption; changeOrder(orderField)">
            <i class="fas fa-fw" [ngClass]="orderOption ? 'fa-sort-amount-up' : 'fa-sort-amount-down'"></i>
            {{ 'btn.sort' + (orderOption ? 'Asc' : 'Desc') | translate }}
        </a>

        <label>Affichage</label>
        <a *ngIf="displayMode == 0" class="btn cool" (click)="displayMode = 1">
            <i class="fas fa-th"></i>
            {{ 'btn.displayThumbs' | translate }}
        </a>
        <a *ngIf="displayMode == 1" class="btn cool" (click)="displayMode = 0">
            <i class="fas fa-list"></i>
            {{ 'btn.displayTable' | translate }}
        </a>

        <label>Outils</label>
        <a class="btn cool" (click)="openChart()">
            <i class="fas fa-chart-pie"></i>
            {{ 'btn.charts' | translate }}
        </a>
    </div>
</p-sidebar>

<nav class="topnav">
    <div class="navLeft">
        <i class="hovicon fas"
           [ngClass]="sidebarLeft ? 'fa-times' : 'fa-bars'"
           (click)="sidebarLeft = !sidebarLeft; sidebarRight = false"></i>
    </div>
    <div class="navRight">
        <i class="hovicon fas"
           [ngClass]="sidebarRight ? 'fa-times' : 'fa-eye'"
           (click)="sidebarRight = !sidebarRight; sidebarLeft = false"></i>
    </div>
    <div id="vgc" (click)="welcome = true">VGC</div>
</nav>

<game-chart *ngIf="displayChart" [field]="chartField" [userGameFilter]="userGameFilter"
            preventParentScroll></game-chart>
<div class="topnav" *ngIf="displayChart" [@topNavTransition]>
    <i class="hovicon fas fa-chevron-left"
       (click)="chartField = chartFields.indexOf(chartField) == 0 ? chartFields[chartFields.length - 1] : chartFields[chartFields.indexOf(chartField) - 1]"
       pTooltip="{{ 'btn.previous' | translate }}"
       tooltipPosition="right"></i>
    <i class="hovicon fas fa-chevron-right"
       (click)="chartField = chartFields.indexOf(chartField) == chartFields.length - 1 ? chartFields[0] : chartFields[chartFields.indexOf(chartField) + 1]"
       pTooltip="{{ 'btn.next' | translate }}"
       tooltipPosition="right"></i>

    <select id="chartField"
            [(ngModel)]="chartField" name="chartField"
            #name="ngModel"
            style="display: inline-block; width: auto; margin: 0 0 0 10px;">

        <option *ngFor="let f of chartFields" [ngValue]="f">
            {{ 'field.' + f | translate }}
        </option>
    </select>

    <div class="navRight"><i class="hovicon fas fa-times" (click)="closeChart()"
                             pTooltip="{{ 'btn.close' | translate }}"
                             tooltipPosition="left"></i></div>
</div>

<game-versus *ngIf="displayVersus" [player1]="currentUser.username" [player2]="playerName"
            preventParentScroll></game-versus>
<div class="topnav" *ngIf="displayVersus" [@topNavTransition]>
    <div class="navRight"><i class="hovicon fas fa-times" (click)="displayVersus = false"
                             pTooltip="{{ 'btn.close' | translate }}"
                             tooltipPosition="left"></i></div>
</div>
<!--<game-versus  [player1]="currentUser.username" [player2]="'Popolon17'"-->
<!--            preventParentScroll></game-versus>-->
<!--<div class="topnav" [@topNavTransition]>-->
<!--    <div class="navRight"><i class="hovicon fas fa-times" (click)="closeChart()"-->
<!--                             pTooltip="{{ 'btn.close' | translate }}"-->
<!--                             tooltipPosition="left"></i></div>-->
<!--</div>-->

<div class="fakePage content" *ngIf="displayFilters" [@routerTransition] preventParentScroll>
    <p-tabView>
        <p-tabPanel header="{{ 'label.game' | translate }}">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label for="name">{{ 'field.userGame.platform' | translate }}</label><br>
                        <tag *ngFor="let platform of userGameFilter.stats.tags.platform;"
                             [platform]="true"
                             [tag]="platform"
                             [filter]="userGameFilter.platforms"
                             [suffix]="userGameFilter.stats.count.platform[platform.id]"
                             (uploaded)="toggleTag('platforms', $event, platform)"></tag>
                    </div>
                    <div>
                        <label for="name">{{ 'field.game.series' | translate }}</label><br>
                        <tag *ngFor="let series of userGameFilter.stats.tags.series;"
                             [tag]="series"
                             [filter]="userGameFilter.game.series"
                             [suffix]="userGameFilter.stats.count.series[series.id]"
                             (uploaded)="toggleTag('series', $event, series)"></tag>
                    </div>
                    <div>
                        <label for="name">{{ 'field.game.modes' | translate }}</label><br>
                        <tag *ngFor="let mode of userGameFilter.stats.tags.modes;"
                             [tag]="mode"
                             [filter]="userGameFilter.game.modes"
                             [suffix]="userGameFilter.stats.count.modes[mode.id]"
                             (uploaded)="toggleTag('modes', $event, mode)"></tag>
                    </div>
                    <div>
                        <label for="name">{{ 'field.game.themes' | translate }}</label><br>
                        <tag *ngFor="let theme of userGameFilter.stats.tags.themes;"
                             [tag]="theme"
                             [filter]="userGameFilter.game.themes"
                             [suffix]="userGameFilter.stats.count.themes[theme.id]"
                             (uploaded)="toggleTag('themes', $event, theme)"></tag>
                    </div>
                    <div>
                        <label for="name">{{ 'field.game.genres' | translate }}</label><br>
                        <tag *ngFor="let genre of userGameFilter.stats.tags.genres;"
                             [tag]="genre"
                             [filter]="userGameFilter.game.genres"
                             [suffix]="userGameFilter.stats.count.genres[genre.id]"
                             (uploaded)="toggleTag('genres', $event, genre)"></tag>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="name">{{ 'field.userGame.releaseDate' | translate }}
                        ({{userGameFilter.releaseYearRange[0] + ' - ' +
                        userGameFilter.releaseYearRange[1]}})</label><br>
                    <p-slider [(ngModel)]="userGameFilter.releaseYearRange" [range]="true"
                              (onChange)="resetSelectedUserGame()"
                              [min]="userGameFilter.minReleaseYear"
                              [max]="userGameFilter.maxReleaseYear"></p-slider>

                    <label for="name">{{ 'field.userGame.purchaseDate' | translate }}
                        ({{userGameFilter.purchaseYearRange[0] + ' - ' +
                        userGameFilter.purchaseYearRange[1]}})</label><br>
                    <p-slider [(ngModel)]="userGameFilter.purchaseYearRange" [range]="true"
                              (onChange)="resetSelectedUserGame()"
                              [min]="userGameFilter.minPurchaseYear"
                              [max]="userGameFilter.maxPurchaseYear"></p-slider>

                    <label for="name">{{ 'field.userGame.rating' | translate }} ({{userGameFilter.ratingRange[0]
                    + ' - ' + userGameFilter.ratingRange[1]}})</label><br>
                    <p-slider [(ngModel)]="userGameFilter.ratingRange" [range]="true"
                              (onChange)="resetSelectedUserGame()"
                              [min]="userGameFilter.minRating"
                              [max]="userGameFilter.maxRating"></p-slider>

                    <label for="name">{{ 'field.userGame.pricePaid' | translate }}
                        ({{userGameFilter.pricePaidRange[0] + ' - ' +
                        userGameFilter.pricePaidRange[1]}})</label><br>
                    <p-slider [(ngModel)]="userGameFilter.pricePaidRange" [range]="true"
                              (onChange)="resetSelectedUserGame()"
                              [min]="userGameFilter.minPrice"
                              [max]="userGameFilter.maxPrice"></p-slider>

                    <label for="name">{{ 'field.userGame.priceResale' | translate }}
                        ({{userGameFilter.priceResaleRange[0] + ' - ' +
                        userGameFilter.priceResaleRange[1]}})</label><br>
                    <p-slider [(ngModel)]="userGameFilter.priceResaleRange" [range]="true"
                              (onChange)="resetSelectedUserGame()"
                              [min]="userGameFilter.minPrice"
                              [max]="userGameFilter.maxPrice"></p-slider>

                    <label for="name">{{ 'field.userGame.priceSold' | translate }}
                        ({{userGameFilter.priceSoldRange[0] + ' - ' +
                        userGameFilter.priceSoldRange[1]}})</label><br>
                    <p-slider [(ngModel)]="userGameFilter.priceSoldRange" [range]="true"
                              (onChange)="resetSelectedUserGame()"
                              [min]="userGameFilter.minPrice"
                              [max]="userGameFilter.maxPrice"></p-slider>

                    <label for="name">{{ 'field.userGame.priceAsked' | translate }}
                        ({{userGameFilter.priceAskedRange[0] + ' - ' +
                        userGameFilter.priceAskedRange[1]}})</label><br>
                    <p-slider [(ngModel)]="userGameFilter.priceAskedRange" [range]="true"
                              (onChange)="resetSelectedUserGame()"
                              [min]="userGameFilter.minPrice"
                              [max]="userGameFilter.maxPrice"></p-slider>
                </div>
                <div class="col-md-3">
                    <div>
                        <label>{{ 'field.userGame.version' | translate }}</label><br>
                        <tag [tag]="'FRA'"
                             [filter]="userGameFilter.versions"
                             [suffix]="userGameFilter.stats.count.version['FRA']"
                             (uploaded)="toggleTag('versions', $event, 'FRA')"></tag>
                        <tag [tag]="'EUR'"
                             [filter]="userGameFilter.versions"
                             [suffix]="userGameFilter.stats.count.version['EUR']"
                             (uploaded)="toggleTag('versions', $event, 'EUR')"></tag>
                        <tag [tag]="'JAP'"
                             [filter]="userGameFilter.versions"
                             [suffix]="userGameFilter.stats.count.version['JAP']"
                             (uploaded)="toggleTag('versions', $event, 'JAP')"></tag>
                        <tag [tag]="'USA'"
                             [filter]="userGameFilter.versions"
                             [suffix]="userGameFilter.stats.count.version['USA']"
                             (uploaded)="toggleTag('versions', $event, 'USA')"></tag>
                    </div>
                    <div>
                        <label>{{ 'field.userGame.completeness' | translate }}</label><br>
                        <tag [tag]="'enum.completeness.LOOSE' | translate"
                             [value]="'LOOSE'"
                             [filter]="userGameFilter.completenesss"
                             [suffix]="userGameFilter.stats.count.completeness['LOOSE']"
                             (uploaded)="toggleTag('completenesss', $event, 'LOOSE')"></tag>
                        <tag [tag]="'enum.completeness.NO_MANUAL' | translate"
                             [value]="'NO_MANUAL'"
                             [filter]="userGameFilter.completenesss"
                             [suffix]="userGameFilter.stats.count.completeness['NO_MANUAL']"
                             (uploaded)="toggleTag('completenesss', $event, 'NO_MANUAL')"></tag>
                        <tag [tag]="'enum.completeness.NO_BOX' | translate"
                             [value]="'NO_BOX'"
                             [filter]="userGameFilter.completenesss"
                             [suffix]="userGameFilter.stats.count.completeness['NO_BOX']"
                             (uploaded)="toggleTag('completenesss', $event, 'NO_BOX')"></tag>
                        <tag [tag]="'enum.completeness.COMPLETE' | translate"
                             [value]="'COMPLETE'"
                             [filter]="userGameFilter.completenesss"
                             [suffix]="userGameFilter.stats.count.completeness['COMPLETE']"
                             (uploaded)="toggleTag('completenesss', $event, 'COMPLETE')"></tag>
                        <tag [tag]="'enum.completeness.DEMATERIALIZED' | translate"
                             [value]="'DEMATERIALIZED'"
                             [filter]="userGameFilter.completenesss"
                             [suffix]="userGameFilter.stats.count.completeness['DEMATERIALIZED']"
                             (uploaded)="toggleTag('completenesss', $event, 'DEMATERIALIZED')"></tag>
                        <tag [tag]="'enum.completeness.NEW' | translate"
                             [value]="'NEW'"
                             [filter]="userGameFilter.completenesss"
                             [suffix]="userGameFilter.stats.count.completeness['NEW']"
                             (uploaded)="toggleTag('completenesss', $event, 'NEW')"></tag>
                    </div>
                    <div>
                        <label>{{ 'field.userGame.progress' | translate }}</label><br>
                        <tag [tag]="'enum.progress.NEVER_PLAYED' | translate"
                             [value]="'NEVER_PLAYED'"
                             [filter]="userGameFilter.progresses"
                             [suffix]="userGameFilter.stats.count.progress['NEVER_PLAYED']"
                             (uploaded)="toggleTag('progresses', $event, 'NEVER_PLAYED')"></tag>
                        <tag [tag]="'enum.progress.IN_PROGRESS' | translate"
                             [value]="'IN_PROGRESS'"
                             [filter]="userGameFilter.progresses"
                             [suffix]="userGameFilter.stats.count.progress['IN_PROGRESS']"
                             (uploaded)="toggleTag('progresses', $event, 'IN_PROGRESS')"></tag>
                        <tag [tag]="'enum.progress.FINISHED' | translate"
                             [value]="'FINISHED'"
                             [filter]="userGameFilter.progresses"
                             [suffix]="userGameFilter.stats.count.progress['FINISHED']"
                             (uploaded)="toggleTag('progresses', $event, 'FINISHED')"></tag>
                        <tag [tag]="'enum.progress.ABANDONED' | translate"
                             [value]="'ABANDONED'"
                             [filter]="userGameFilter.progresses"
                             [suffix]="userGameFilter.stats.count.progress['ABANDONED']"
                             (uploaded)="toggleTag('progresses', $event, 'ABANDONED')"></tag>
                    </div>
                    <div>
                        <label>{{ 'field.userGame.cond' | translate }}</label><br>
                        <tag [tag]="'enum.cond.BAD' | translate"
                             [value]="'BAD'"
                             [filter]="userGameFilter.conds"
                             [suffix]="userGameFilter.stats.count.cond['BAD']"
                             (uploaded)="toggleTag('conds', $event, 'BAD')"></tag>
                        <tag [tag]="'enum.cond.GOOD' | translate"
                             [value]="'GOOD'"
                             [filter]="userGameFilter.conds"
                             [suffix]="userGameFilter.stats.count.cond['GOOD']"
                             (uploaded)="toggleTag('conds', $event, 'GOOD')"></tag>
                        <tag [tag]="'enum.cond.VERY_GOOD' | translate"
                             [value]="'VERY_GOOD'"
                             [filter]="userGameFilter.conds"
                             [suffix]="userGameFilter.stats.count.cond['VERY_GOOD']"
                             (uploaded)="toggleTag('conds', $event, 'VERY_GOOD')"></tag>
                        <tag [tag]="'enum.cond.NEAR_MINT' | translate"
                             [value]="'NEAR_MINT'"
                             [filter]="userGameFilter.conds"
                             [suffix]="userGameFilter.stats.count.cond['NEAR_MINT']"
                             (uploaded)="toggleTag('conds', $event, 'NEAR_MINT')"></tag>
                        <tag [tag]="'enum.cond.MINT' | translate"
                             [value]="'MINT'"
                             [filter]="userGameFilter.conds"
                             [suffix]="userGameFilter.stats.count.cond['MINT']"
                             (uploaded)="toggleTag('conds', $event, 'MINT')"></tag>
                    </div>
                    <div>
                        <label for="name">{{ 'field.userGame.purchasePlace' | translate }}</label><br>
                        <tag *ngFor="let place of userGameFilter.stats.tags.purchasePlace;"
                             [tag]="place"
                             [filter]="userGameFilter.purchasePlaces"
                             [suffix]="userGameFilter.stats.count.purchasePlace[place]"
                             (uploaded)="toggleTag('purchasePlaces', $event, place)"></tag>
                    </div>
                    <div *ngIf="userGameFilter.stats.tags.salePlace.length > 0">
                        <label for="name">{{ 'field.userGame.salePlace' | translate }}</label><br>
                        <tag *ngFor="let place of userGameFilter.stats.tags.salePlace;"
                             [tag]="place"
                             [filter]="userGameFilter.salePlaces"
                             [suffix]="userGameFilter.stats.count.salePlace[place]"
                             (uploaded)="toggleTag('salePlaces', $event, place)"></tag>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="{{ 'field.game.developers' | translate }}">
            <tag *ngFor="let developer of userGameFilter.stats.tags.developers;"
                 [tag]="developer"
                 [filter]="userGameFilter.game.developers"
                 [suffix]="userGameFilter.stats.count.developers[developer.id]"
                 (uploaded)="toggleTag('developers', $event, developer)"></tag>
        </p-tabPanel>
        <p-tabPanel header="{{ 'field.game.publishers' | translate }}">
            <tag *ngFor="let publisher of userGameFilter.stats.tags.publishers;"
                 [tag]="publisher"
                 [filter]="userGameFilter.game.publishers"
                 [suffix]="userGameFilter.stats.count.publishers[publisher.id]"
                 (uploaded)="toggleTag('publishers', $event, publisher)"></tag>
        </p-tabPanel>
        <p-tabPanel header="{{ 'field.userGame.purchaseContact' | translate }}">
            <tag *ngFor="let contact of userGameFilter.stats.tags.purchaseContact;"
                 [tag]="contact"
                 [filter]="userGameFilter.purchaseContacts"
                 [suffix]="userGameFilter.stats.count.purchaseContact[contact.id]"
                 (uploaded)="toggleTag('purchaseContacts', $event, contact)"></tag>
        </p-tabPanel>
        <p-tabPanel header="{{ 'field.userGame.saleContact' | translate }}"
                    *ngIf="userGameFilter.stats.tags.saleContact.length > 0">
            <tag *ngFor="let contact of userGameFilter.stats.tags.saleContact;"
                 [tag]="contact"
                 [filter]="userGameFilter.saleContacts"
                 [suffix]="userGameFilter.stats.count.saleContact[contact.id]"
                 (uploaded)="toggleTag('saleContacts', $event, contact)"></tag>
        </p-tabPanel>
    </p-tabView>
</div>
<div class="topnav" *ngIf="displayFilters" [@topNavTransition]>
    <div class="navRight">
        <a (click)="resetUserGameFilter()" class="btn cool" style="width: auto; display: inline">
            <i class="fas fa-undo"></i>
            {{ 'btn.reset' | translate }}
        </a>
        <i class="hovicon fas fa-times" (click)="displayFilters = false"
           pTooltip="{{ 'btn.close' | translate }}"
           tooltipPosition="left"></i>
    </div>
</div>


<loading *ngIf="loading" [progress]="userGames.length" [total]="total" [action]="loadingAction"
         preventParentScroll></loading>
<loading *ngIf="welcome" [action]="'welcome'" (close)="welcome = false"></loading>

<!--<router-outlet></router-outlet>-->
<div *ngIf="routeTrigger" [@routeSlide]="routeTrigger">
    <router-outlet></router-outlet>

    <div class="topnav" *ngIf="router.url.indexOf('/games/show') === 0" [@topNavTransition]
         (swipeleft)="navigateUserGame(currentIndex + 1)"
         (swiperight)="navigateUserGame(currentIndex - 1)">
        <i class="hovicon fas fa-chevron-left"
           (click)="navigateUserGame(currentIndex - 1)"
           pTooltip="{{ 'btn.previous' | translate }}"
           tooltipPosition="right"></i>
        <i class="hovicon fas fa-chevron-right"
           (click)="navigateUserGame(currentIndex + 1)"
           pTooltip="{{ 'btn.next' | translate }}"
           tooltipPosition="right"></i>

        <div class="navRight"><i [routerLink]="'/games'" class="hovicon fas fa-times"
                                 pTooltip="{{ 'btn.close' | translate }}"
                                 tooltipPosition="left"></i></div>
    </div>
</div>

<div class="topnav" *ngIf="router.url === '/games/new'" [@topNavTransition]>
    <div class="navRight"><i routerLink="/games" class="hovicon fas fa-times"
                             pTooltip="{{ 'btn.close' | translate }}"
                             tooltipPosition="left"></i></div>
</div>
