$colorTextMain: white;

$colorMain: #337AB7;
$colorMain0: rgba(51,122,183,.2);

$colorTag: #18121e;
$colorTagOn: #233237;

$colorSuccess: #029901;
$colorSuccess0: #026301;
$colorWarning: #c16500;
$colorWarning0: #814100;
$colorError: #a90000;
$colorError0: #632f2d;

$colorTagOn: $colorSuccess0;

@import "../node_modules/compass-mixins/lib/_compass";
@import "assets/scss/form";
@import "assets/scss/loader";
@import "assets/scss/hovicon";
@import "assets/scss/gameBanner";
@import "assets/scss/gameBox";
@import "assets/scss/gameProgress";
@import "assets/scss/nav";
@import "assets/scss/tag";
@import "assets/scss/rotation";
@import "assets/scss/full";
@import "assets/scss/table";
@import "assets/scss/primeNG";
@import "assets/scss/progress";

html {
  overflow-y: scroll;
}

body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png") center;
  color: $colorTextMain;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
}

hr {
  border: 1px rgba(255, 255, 255, .2) dashed;
}

a {
  color: $colorMain;
  cursor: pointer;
}

a:focus, a:hover {
  color: $colorMain;
  text-decoration: underline;
}

.error {
  color: $colorError;
}