@import "../node_modules/compass-mixins/lib/_compass";
@import "assets/scss/colors";
@import "assets/scss/form";
@import "assets/scss/hovicon";
@import "assets/scss/gameBanner";
@import "assets/scss/gameBox";
@import "assets/scss/gameProgress";
@import "assets/scss/nav";
@import "assets/scss/tag";
@import "assets/scss/rotation";
@import "assets/scss/full";
@import "assets/scss/table";
@import "assets/scss/primeNG";
@import "assets/scss/progress";

html {
  overflow-y: scroll;
}

body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png") center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
}

body *:not(a):not(.full):not(.ui-tooltip) {
  transition: all 1s ease;
}

a {
  cursor: pointer;
}

a:focus, a:hover {
  text-decoration: underline;
}

.vgc {
  cursor: default;
  position: absolute;
  right: 15px;
  top: 150px;
  font-size: 80px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: -5px;
  margin: 0 auto;
  text-shadow: none;
  padding-right: 0;
}

.vgc:hover {
  cursor: pointer;
  color: white;
  text-shadow: 3px 0px 15px #FFFFFF, -3px 0px 15px #FFFFFF;
  padding-right: 10px;
}

.welcome {
  text-align: left;
  width: 800px;
  margin: 0 auto;
  background: #0c0c0c;
  padding: 30px;
  border-radius: 30px 0 30px 0;
  max-width: 100%;
}

.terminal {
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 10px;
  border-radius: 20px 20px 0 20px;
  margin-bottom: 10px;
}

.terminal p{
  font-size: 14px;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;

  &:before {
    content: '> ';
    color: grey;
  }
}

.terminal p:nth-child(1){
  animation: type1 2s steps(60, end);
}
.terminal p:nth-child(2){
  animation: type2 5s steps(60, end);
}
.terminal p:nth-child(3){
  animation: type3 8s steps(60, end);
}
.terminal p:nth-child(4){
  animation: type4 10s steps(60, end);
}

.terminal p a{
  color: lime;
  text-decoration: none;
}

.terminal p span{
  animation: blink 1s infinite;
}

@keyframes type1{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  40%{width: 0;}
  100%{ width: 100; }
}

@keyframes type3{
  0%{width: 0;}
  62%{width: 0;}
  100%{ width: 100; }
}

@keyframes type4{
  0%{width: 0;}
  80%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}
