@import "../node_modules/compass-mixins/lib/_compass";
@import "assets/scss/colors";
@import "assets/scss/form";
@import "assets/scss/hovicon";
@import "assets/scss/gameBanner";
@import "assets/scss/gameBox";
@import "assets/scss/gameProgress";
@import "assets/scss/nav";
@import "assets/scss/tag";
@import "assets/scss/rotation";
@import "assets/scss/full";
@import "assets/scss/table";
@import "assets/scss/primeNG";
@import "assets/scss/progress";
@import "assets/scss/terminal";
@import "assets/scss/buttons";

body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 14px;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png") center;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 20px;
  margin: 45px 0;
  text-align: center;
}

a {
  cursor: pointer;
}

a:focus, a:hover {
  text-decoration: underline;
}

#vgc {
  cursor: default;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  font-size: 60px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: -5px;
  text-shadow: none;
  padding-right: 0;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);

  &:hover {
    cursor: pointer;
    color: white;
    text-shadow: 3px 0px 15px #FFFFFF, -3px 0px 15px #FFFFFF;
  }
}

.welcome {
  text-align: left;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  max-width: 100%;
}

.bgblur {
  background-color: rgba(0, 0, 0, .9);
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  box-shadow: 0 0 30px #000;
  padding-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 70px;
}
