<div *ngIf="!selectedGame">
    <banner [data]="games"></banner>
    <div class="title" *ngIf="!selectedGame">
        {{ 'title.newGame' | translate }}
        <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
            <div class="input">
                <input type="text" id="search"
                       required
                       [(ngModel)]="search" name="search"
                       #name="ngModel"
                       autocomplete="off">
                <span class="bar"></span>
            </div>
            <div class="input">
                <button type="submit"
                        class="btn btn-success">
                    <i class="fas fa-sync" [ngClass]="loading ? 'fa-spin' : ''"></i>
                    {{ 'btn.igdbSearch' | translate }}
                </button>
            </div>
        </form>
    </div>
    <div class="gameBoxContainer">
        <section *ngFor="let game of games" class="gameBox visible_anim">
            <div class="gameCover" *ngIf="game.cover"
                 [style.background-image]="'url(' + environment.imagesUrl + 't_cover_big/' + game.cover.cloudinaryId + '.jpg)' | safe: 'style'"></div>
            <div class=gameInfos>
                <div class="gameTitle">
                    {{ game.name }}
                </div>

                <section *ngIf="game.platforms">
                    <button *ngFor="let platform of game.platforms" (click)="onSelect(game, platform)" class="btn btn-sm"
                            [ngClass]="buttonClass[game.id+'_'+platform.id]">
                        {{platform.name}}
                    </button>
                </section>
            </div>
        </section>
    </div>
</div>

<div *ngIf="selectedGame">
    <banner [data]="selectedGame"></banner>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center">

                <game-images [game]="selectedGame"></game-images>

                <div style="font-size: 12px; text-align: justify; margin: 10px;" *ngIf="selectedGame.release_date"><label>{{ 'field.userGame.releaseDate' | translate }}</label> {{selectedGame.release_date}}</div>
                <div style="font-size: 12px; text-align: justify; margin: 10px;" *ngIf="selectedGame.summary">{{selectedGame.summary}}</div>
            </div>

            <div class="col-md-8">

                <div class="title">
                    {{ selectedGame.name }}

                    <div class="navRight">
                        <i *ngIf="selectedGame" class="hovicon fas fa-times"
                           (click)="selectedGame = false;"
                           pTooltip="{{ 'btn.close' | translate }}"
                           tooltipPosition="left"></i>
                    </div>
                </div>

                <game-form [game]="selectedGame"
                           [platform]="selectedPlatform"
                           [action]="'new'"></game-form>
            </div>
        </div>
    </div>

</div>
