<loading *ngIf="formLoading"></loading>

<div id="gameBanner" class="gameBannerBig">
    <div *ngIf="games && games[0].screenshots"
         [style.background-image]="'url(http://images.igdb.com/igdb/image/upload/t_screenshot_huge/' + games[0].screenshots[0].cloudinaryId + '.jpg)' | safe: 'style'"></div>
</div>

<div class="container-fluid">

    <div class="row" style="padding-bottom: 15px">
        <div class="col-md-12">
            <h1>Nouveau Jeu</h1>
        </div>
    </div>

    <div class="row" style="padding-bottom: 15px">
        <div class="col-md-4">
            <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
                <input type="text" id="search"
                       required
                       [(ngModel)]="search" name="search"
                       #name="ngModel"
                       autocomplete="off">
                <span class="bar"></span>
                <button type="submit"
                        class="btn btn-success">
                    <i class="fa fa-refresh" [ngClass]="slimLoadingBarService.progress > 0 ? 'fa-spin' : ''"></i>
                    Rechercher via IGDB.com</button>
            </form>
        </div>
    </div>
</div>
<section *ngFor="let game of games" class="gameBox visible_anim" in-viewport (inViewport)="setItemClass($event)">
    <div class="gameCover" *ngIf="game.cover"
         [style.background-image]="'url(http://images.igdb.com/igdb/image/upload/t_cover_big/' + game.cover.cloudinaryId + '.jpg)' | safe: 'style'"></div>
    <div class=gameInfos>
        <div class="gameTitle">
            {{ game.name }}
        </div>

        <section *ngIf="game.platforms">
            <button *ngFor="let platform of game.platforms" (click)="onSelect(game, platform)" class="btn btn-sm" [ngClass]="buttonClass[game.id+'_'+platform.id]">
                {{platform.name}}
            </button>
        </section>
    </div>
</section>


<div>
</div>

<modal #modal (onDismiss)="initGame()">
    <modal-header [show-close]="true">
        <h4 *ngIf="selectedGame" class="modal-title">Nouveau Jeu - {{selectedGame.name}}</h4>
    </modal-header>
    <modal-body>
        <game-form [game]="selectedGame"
                   [platform]="selectedPlatform"
                   [userGame]="selectedUserGame"
                   (state)="formStateUpdate($event)"
                   [action]="'new'"></game-form>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Annuler</button>
    </modal-footer>
</modal>